{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/gallery.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <h1>
    Art pieces
    <a href="{% url 'gallery:art-piece-create' %}" class="btn btn-outline-light text-dark btn-lg">
      Add piece
    </a>
  </h1>
  <br>
  {% if art_piece_list %}
    <ul class="grid">
    {% for art_piece in art_piece_list %}
      <li>
        <figure class="grid__figure">
          <a href="{{ art_piece.get_absolute_url }}">
          <img src="{{ art_piece.picture.url }}" alt="">
          </a>
          <figcaption>{{ art_piece.title }}</figcaption>
        </figure>
      </li>
    {% endfor %}
    </ul>
  {% else %}
      <div style="text-align: center;"><h2>There are no art pieces.</h2></div>
  {% endif %}
{% endblock %}
