{% extends "base.html" %}

{% block content %}
<link href="/static/css/gallery.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <h1>
    Art pieces
    <a href="{% url 'gallery:art-piece-create' %}" class="btn btn-outline-light text-dark btn-lg">
      Add piece
    </a>
  </h1>
  <br>
  {% if art_piece_list %}
    <div class="container-all">
    {% for art_piece in art_piece_list %}
        <div class="container">
          <a href="{{ art_piece.get_absolute_url }}">
          <img src="{{ art_piece.picture.url }}" alt="">
           <span class="title">{{ art_piece.title }}</span>
          <span class="text">{{ art_piece.author }}</span>
          </a>
        </div>
    {% endfor %}
    </div>
  {% else %}
      <div style="text-align: center;"><h2>There are no art pieces.</h2></div>
  {% endif %}
{% endblock %}
