{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <link href="/css/gallery.css" rel="stylesheet">
  <h1>
    Galleries
    <a href="{% url 'gallery:gallery-create' %}" class="btn btn-outline-light text-dark btn-lg">
      Add gallery
    </a>
  </h1>
  <div class="formbold-form-wrapper">
        <form action="" method="get" class="form-inline">
          {{ search_form.name|add_class:"formbold-form-input"}}
        </form>
  </div>

  {% if gallery_list %}
    <div class="tbl-header">
      <table class="table" >
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
          <th>Gallery controls</th>
        </tr>
        <tbody>
        {% for gallery in gallery_list %}
          <tr>
            <td>
                {{ gallery.id }}
            </td>
            <td><a href="{{ gallery.get_absolute_url }}" class="outline-light text-dark">{{ gallery.name }}</a></td>

            <td>
                {{ gallery.country.name }}
            </td>
            <td>
                <a href="{% url 'gallery:gallery-update' pk=gallery.id %}" class="btn-outline-light text-dark btn-lg">
                  Update
                </a>
              /
                <a
                  href="{% url 'gallery:gallery-delete' pk=gallery.id %}" class="btn-outline-danger text-dark btn-lg">
                  Delete
                </a>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  {% else %}
    <div style="text-align: center;"><p>There are no galleries.</p></div>
  {% endif %}
{% endblock %}
