{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Gallery List
    <a href="{% url 'gallery:gallery-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="🔍">
    </form>

  {% if gallery_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
      </tr>

      {% for gallery in gallery_list %}
        <tr>
          <td>
              {{ gallery.id }}
          </td>
          <td><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></td>

          <td>
              {{ gallery.country }}
          </td>
          <td>
              {{ gallery.city }}
          </td>
          <td>
              <a href="{% url 'gallery:gallery-update' pk=gallery.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'gallery:gallery-delete' pk=gallery.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no galleries.</p>
  {% endif %}
{% endblock %}
