{% extends "base.html" %}

{% block content %}
  <h1>
    Gallery: {{ gallery.name }}
    <a href="{% url 'gallery:gallery-delete' pk=gallery.id %}" class="btn btn-outline-danger text-dark btn-lg">
      Delete
    </a>
  </h1>

  <p><strong>Name:</strong> {{ gallery.name }}</p>
  <p><strong>Country:</strong> {{ gallery.country }}</p>
  <p><strong>City:</strong> {{ gallery.city }}</p>

  <div class="ml-3">
    <h4>Art Pieces</h4>

    {% for piece in gallery.art_pieces.all %}
        <hr>
        <p><strong>Title:</strong> {{ piece.title }}</p>
        <p class="text-muted"><strong>Id:</strong> {{piece.id}}</p>

    {% empty %}
      <p>No art pieces!</p>
    {% endfor %}
  </div>
{% endblock %}
