{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <link href="/static/css/gallery.css" rel="stylesheet">
  <h1>
    Genres
    <a href="{% url 'gallery:genre-create' %}" class="btn btn-outline-light text-dark btn-lg">
      Add genre
    </a>
  </h1>
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="🔍">
    </form>

  {% if genre_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for genre in genre_list %}
        <tr>
          <td>
              {{ genre.id }}
          </td>
          <td>
              {{ genre.name }}
          </td>
          <td>
              <a href="{% url 'gallery:genre-update' pk=genre.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'gallery:genre-delete' pk=genre.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <div style="text-align: center;"><p>There are no genres in the service.</p></div>
  {% endif %}
{% endblock %}
