{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Genre List
    <a href="{% url 'gallery:genre-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="🔍">
    </form>

  {% if genre_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for genre in genre_list %}
        <tr>
          <td>
              {{ genre.id }}
          </td>
          <td>
              {{ genre.name }}
          </td>
          <td>
              <a href="{% url 'gallery:genre-update' pk=genre.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'gallery:genre-delete' pk=genre.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no genres in the service.</p>
  {% endif %}
{% endblock %}
