{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>
      User List
      <a href="{% url 'gallery:user-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="🔍">
    </form>

    {% if user_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Pseudonym</th>
        <th>Birth date</th>
        <th>Death date</th>
        <th>Country</th>

      </tr>
    {% for custom_user in user_list %}
      <tr>
        <td>{{ custom_user.id }}</td>
        <td><a href="{{ custom_user.get_absolute_url }}">{{ custom_user.username }}
          {% if user == custom_user %} (Me)
          {% endif %}</a></td>
        <td>{{ custom_user.first_name }}</td>
        <td>{{ custom_user.last_name }}</td>
        <td>{{ custom_user.pseudonym }}</td>
        <td>{{ custom_user.birth_date }}</td>
        <td>{{ custom_user.death_date }}</td>
        <td>{{ custom_user.country }}</td>

      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no users.</p>
    {% endif %}
{% endblock %}
